
body {
	margin: 0;
	color: white;
	background-color: black;
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	overflow: scroll;
	padding-left: 70px;
}

h1 {
	font-size:50px;
	font-color: #FFFFFF;
	padding-bottom: 10px;
	padding right: 70px;
	text-align: left;
}

h2 {
	font-size:22px;
	padding right: 70px;
	text-align: left;
}

p {
	font-size: 26px;
	text-indent: 30px;
	padding-left: 10px;
	padding-right: 50px;
}

a {
	color: white;
}

li {
	padding-right: 15px;
}

header:after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 15px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: white;
}

nav a:before {
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 200ms;
}

nav a:hover:before {
	width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

@keyframes color-animation {
	0% {
		background: white;
	}
	50% {
		background: black;
	}
	100% {
		background: white;
	}
}

.box {
	margin-left: 60px;
	width: 12px;
	height: 20px;
	background-color: black;
	float: left;
	background-clip: content-box;
	position: relative;
	clear: both;
	content: '';
	animation: color-animation 1s infinite linear alternate;
}

.bar {
	width: 100%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-top: 400px;
}

::-webkit-scrollbar {
width: 8px;
height: 10px;
}

::-webkit-scrollbar-track {
background: black;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: black;  
}

::-webkit-scrollbar-thumb:hover {
background: black;  
}

